/* Header */
header{
  width: 100%;
  height: 32rem;
  margin: 0;
}
.headerSection{
  text-align: center;
}
.logoHeader:hover{
  cursor: pointer;
    
}
.button,
input[type="submit"],
input[type="button"]{
  background-color: var(--secondary);
  border: 1px solid var(--gray);
  padding: .5rem 1rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--mainFont);
  color: var(--primaryDark);
  border-radius: .5rem;
  box-shadow: 2px 2px 5px var(--gray);
  transition: 500ms;
  width: 80%;
}
@media(min-width: 780px){
  .headerSection{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .button{
      width: 15rem;
      max-height: 4rem;
  }
  .buttonServices{
       width: 40rem;
       max-height: 4rem;
  }
}
.hoverable:hover{
  background: rgb(144,205,202);
  background: linear-gradient(132deg, rgba(144,205,202,0.39959733893557425) 0%, rgba(252,255,255,0.8253676470588236) 85%);    
  background-color: #F8F8F0;
  cursor: pointer;
}

/* NavBar */
.navBar,
.navBarOnScroll{
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: var(--white);
  color: var(--secondary); 
  box-shadow: 0px 0px 6px #ddd;
  font-family: var(--mainFont);
  width: 100%; 
  transition: all 0.6s ease;
  
}
.navBarOnScroll{
  position: fixed;
  /* left: 0; */
  background-color: var(--white);
  z-index: 9999;
  
}
.navBarLinks{
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}
.openMenu {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: fixed; /* Cambia la posición a "fixed" */
  top: 0; /* Asegura que el menú cubra toda la pantalla verticalmente */
  left: 0; /* Asegura que el menú cubra toda la pantalla horizontalmente */
  z-index: 999; 
}
.menuLinks{
  margin-top: 5rem;
}
.menuLink{
  margin-bottom: 10rem;
  font-size: 4rem;
}
.menuLink:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: 1s;
  border-bottom: 1px solid var(--secondary)
}
.navBarLink{
  /* margin-top: 6rem; */
  padding: .5rem;
  font-size: 2.5rem; 
  font-weight: 700;
  transition: outline 0.2s ease;   
}
.menuButton{
  margin-right: 1rem;
}
.navBarLink:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: 1s;
  border-bottom: 1px solid var(--secondary);
}
.logoNavBar:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: all 500ms;   
  
}
/* Header Search */
.searchComponent{
  margin-top: .5rem;
  height: 4rem;  
}
.search form{
   display: flex;
   align-items: center;
   height: 3rem;
   margin-right: 1rem;
}
.search .buttonSearch{
  border: none;
  background: none;
  
}
.searchIcon:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: all 500ms; 
}
/* Main */
.main{
  margin: 1rem;
}
@media(min-width: 678px){
  /* .main{
    display: grid;
    grid-template-columns: 3fr 1fr;
  } */
}
/* Home */
.mainSection{
  margin: .5rem 0;
}
.imgHome{
  width: 100%;
  /* height: 20%; */
}
@media(min-width: 768px){
  .servicesHome{
    display: grid;
    place-items: center;
    
  }
  .servicesHome1{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}
.servicesHome1 {
  text-align: center;
  background: rgba(32, 191, 85, .1);
  border-radius: 40rem;
  box-shadow: 0px 0px 6px #ddd;
  margin: 0 0 1rem 0;
  padding: 3rem 2rem;
  position: relative;
}

.imageContainer {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
}
.imageHome{
  width: 100%;
  
}

.imageOverlay {
  position: absolute;
  border-radius: 50%;
  top: 7%;
  left: 8%;
  width: 85%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.3); /* Cambia el valor alfa para ajustar la opacidad */
}

.imageOverlay{
  display: grid;
  place-items: center;
}
.textOverlay{
  color: var(--white);

}
.textOverlay:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: 500ms;
}
.buttonServices{
  margin: 6rem auto ;
  padding: 1rem;
}
.card{
  display: grid;
  place-items: center;
  background: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 6px #ddd;
  margin: 1rem;
  padding: .5rem ;
  position: relative;
}
/* Services */
.articleTitle{
  text-align: center;
  color: var(--secondary);
  background: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 6px #ddd;
  margin: 0 0 1rem 0;
  padding: 3rem 2rem;
  position: relative;
}
/* Service */
.titleDescription{
  margin: 0 0 2rem 0;
  padding: 0;
}
.descriptionText{
  text-align: left;
}
.imageService{
  max-width: 100%;
}
/* Aside */
.sideBar{
  width: 100%;
  min-height: 20rem;
  
}

.sideBar > section,
.search{
  text-align: center;
  box-sizing: border-box;
  margin: 0 1rem;
  padding: .5rem;
  /* background: white; */
  /* border-radius: 1rem;
  box-shadow: 0px 0px 6px #ddd; */
}
.articleDelivery{
  margin: 1rem;
}
@media(min-width: 768px){
  .sideBar{
    display: flex;
    flex-direction: column;
  }
     .offer{
      order: 1;
     } 
     .articleDelivery{
      order: 2;
      
     } 
  }


.sideBar .title{
  color: var(--secondary); 
  font-size: 2.5rem;
  font-family: var(--mainFont);  
}
.offerText{
  color: var(--secondary); 
}

.sideBar input[type="text"],
.sideBar input[type="email"],
.sideBar textarea,
.edit_form input[type="text"],
.search input[type='text'],
.edit_form input[type="text"],
.edit_form textarea
{
  display: block;
  margin: 0 auto;
  padding: .6rem;
  border-radius: 5px;
  background: #D8EAEA;
  color: #454545;
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
}
input[type="submit"],
input[type="button"]{
  margin-top: 2rem;
}
/* Footer */
.footer{
  grid-area: footer;
  margin-top: auto;
  text-align: center;
  padding: 1rem;
  color: #0b4f6c;
}
.textCopy{
  font-size: 1.5rem;
}
@media(min-width: 768px){
  .footerInfo{
      display: grid;
      grid-template-columns: 1fr minmax(0, 10rem);
      
  }
  .socialIcons{
      grid-area: 1 / 2 / 1 / 3;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .contactFooter{
      margin-left: 10rem;
  }
}
.socialIcon:hover{
  cursor: pointer;
}
