@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

$mainFont: 'Roboto Mono', sans-serif;

$primaryBlueColor: #4cb8b3;
$secondaryGreenColor: #379237;
$whiteColor: #fbfbff;
$blackColor: #000000;
$greyColor: #757575;

